* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.mainsect {
    background-color: #1F2937;
    border-color: #1F2937;
    color: white;
}

.mainsectcontent {
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.headerbar {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: 700;
}

.homebarspacer {
    display: flex;
    flex: 3 1 0;
}

.headercontent {
    display: flex;
    justify-content: space-between;
    flex: 2 1 0;
    font-size: 18px;
    font-weight: normal;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.section1 {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section1A {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin-right: 60px;
}

.webslogan {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
    color: #F9FAF8;
}

.webdesc {
    font-size: 18px;
    color: #F9FAF8; 
}

.imgplaceholder {
    display: flex;
    text-align: center;
    flex: 2 1 0;
    background-color: gray;
    height: 279px;
}

.signup {
    background-color: #3882F6;
    font-weight: 700;
    color: white; 
    padding: 5px;
    width: 100px;
}

.randominfotxt {
    text-align: center;
    padding: 30px;
}

.txtplaceholdermain {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.randominfohead {
    font-size: 38px;
    color: #1F2937;
    font-weight: 900;
}

/* This is for quote section */

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 250;
    padding: 100px;
    padding-right: 315px;
    padding-left: 315px;
    padding-top: 120px;
}

.quotename {
    font-size: 24px;
    font-weight: 750;
    text-align: right;
    margin-right: 65px;
}